{% from 'panel_open.html.twig' import panel_open as panel_open %}
{% from 'panel_close.html.twig' import panel_close as panel_close %}
{% from 'panel_heading_open.html.twig' import panel_heading_open as panel_heading_open %}
{% from 'panel_heading_close.html.twig' import panel_heading_close as panel_heading_close %}

{# Multiply image dimentions x2 to compensate for retina displays #}
{% set width  = content_width * 2 // columns %}
{% set height = width // 1.618 %}

<div id="post-{{ post.ID }}" {{ function('post_class', download_classes) }}>
	{% if display_buy_btn == 'yes' %}
		<div class="featured-image-wrapper">
		{# Buy Button #}
			<div class="edd_download_buy_button" onclick="location.href = '{{ post.link }}';">
				{% if post.edd_coming_soon %}
					<a class="button [maera_button_default_small] {{ theme_mods.checkout_color }} radius" title="{{ __( 'Details', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">
						{% if post.edd_coming_soon_text %}{{ post.edd_coming_soon_text }}
						{% else %}{{ __('Coming Soon', 'maera_edd') }}{% endif %}
					</a>
				{% else %}
					{% if variable_priced %}
						<a class="button [maera_button_default_small] {{ theme_mods.checkout_color }} radius" title="{{ __( 'Details', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">{{ __('Details', 'maera_edd') }}</a>
					{% else %}
						{{ function('edd_get_purchase_link', [{'id':post.ID}]) }}
					{% endif %}
				{% endif %}
			</div>
	{% endif %}
		<a class="download-featured-image" title="{{ __( 'View', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">
			{% if post.thumbnail.src %}<img src="{{ post.thumbnail.src|resize( width, height ) }}">
			{% else %}<img src="{{ default_image.src|resize( width, height, 'center' ) }}">{% endif %}
		</a>
	{% if display_buy_btn == 'yes' %}</div>{% endif %}
	{# Only add the "panel" class if we're on a grid #}
	{{ panel_open('content') }}
		{# The title of the download #}
		{{ panel_heading_open() }}
			<a title="{{ __( 'View', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">{{ post.title }}</a>
		{{ panel_heading_close() }}
		{# Excerpt and Content #}
		{% if display_excerpt == 'yes' %}
			{{ post.get_preview(20|apply_filters(excerpt_length)) }}
		{% elseif display_full == 'yes' %}
			{{ post.content }}
		{% endif %}
	{{ panel_close() }}
</div>
