{% set width  = content_width // columns %}
{% set height = width // 1.618 %}

<div id="post-{{ post.ID }}" {{ function('post_class', download_classes) }}>
	{# If we only have 1 column, open an wrapper div on the image #}
	{% if columns == 1 %}[maera_grid_row_open]<div class="[maera_grid_col_3]">{% endif %}



{% if columns != 1 and display_buy_btn == 'yes' %}<div class="featured-image-wrapper">{% endif %}
	{# Buy Button #}
	{% if display_buy_btn == 'yes' %}
		<div class="edd_download_buy_button">
			{% if variable_priced %}
				<a class="[maera_button_default_small] radius alert" title="{{ __( 'Details', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">{{ __('Details', 'maera_edd') }}</a>
			{% else %}
				{{ function('edd_get_purchase_link', [{'id':post.ID}]) }}
			{% endif %}
		</div>
	{% endif %}



		<a class="download-featured-image" title="{{ __( 'View', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">
			{% if post.thumbnail %}<img src="{{ post.thumbnail.src|resize( width, height ) }}">
			{% else %}<img src="{{ default_image.src|resize( width, height, 'center' ) }}">{% endif %}
		</a>

{% if columns != 1 and display_buy_btn == 'yes' %}</div>{% endif %}


	{# If we only have 1 column, close the wrapper div on the image #}
	{% if columns == 1 %}</div>{% endif %}

	{# If we only have 1 column, wrap the content on an extra div #}
	{% if columns == 1 %}<div class="[maera_grid_col_9]">{% endif %}
	{# If we are also displaying the buy button, open a row and an extra columns div #}
	{% if columns == 1 and display_buy_btn == 'yes' %}[maera_grid_row_open]<div class="[maera_grid_col_8]">{% endif %}

	{# Only add the "panel" class if we're on a grid #}
	{% if columns == 1 %}<div class="content">{% else %}<div class="panel content">{% endif %}
	{# The title of the download #}
	<a title="{{ __( 'View', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}"><h5 class="title clearfix">{{ post.title }}</h5></a>
	{# Excerpt and Content #}
	{% if display_excerpt == 'yes' %}
		{{ post.get_preview(20|apply_filters(excerpt_length)) }}
	{% elseif display_full == 'yes' %}
		{{ post.content }}
	{% endif %}

	{# if we only have 1 column and want to also display the buy button, close the column div for the content #}
	{% if columns == 1 and display_buy_btn == 'yes' %}</div></div>{% endif %}
	{# if we only have 1 column and want to also display the buy button, open a column div #}
	{% if columns == 1 and display_buy_btn == 'yes' %}
		<div class="[maera_grid_col_4]">
		{# Buy Button #}
			<div class="edd_download_buy_button">
				{% if variable_priced %}
					<a class="[maera_button_default_small] radius alert" title="{{ __( 'Details', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">{{ __('Details', 'maera_edd') }}</a>
				{% else %}
					{{ function('edd_get_purchase_link', [{'id':post.ID}]) }}
				{% endif %}
			</div>
		</div>
	{% endif %}
	</div>
	{% if columns == 1 %}</div></div>{% endif %}
</div>
{% if columns == 1 %}<hr>{% endif %}
