{% set width  = content_width // columns %}
{% set height = width // 1.618 %}

<div id="post-{{ post.ID }}" {{ function('post_class', download_classes) }}>
	{% if display_buy_btn == 'yes' %}
		<div class="featured-image-wrapper">
		{# Buy Button #}
			<div class="edd_download_buy_button">
				{% if variable_priced %}
					<a class="[maera_button_default_small] {{ theme_mods.checkout_color }} radius" title="{{ __( 'Details', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">{{ __('Details', 'maera_edd') }}</a>
				{% else %}
					{{ function('edd_get_purchase_link', [{'id':post.ID}]) }}
				{% endif %}
			</div>
	{% endif %}
		<a class="download-featured-image" title="{{ __( 'View', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}">
			{% if post.thumbnail %}<img src="{{ post.thumbnail.src|resize( width, height ) }}">
			{% else %}<img src="{{ default_image.src|resize( width, height, 'center' ) }}">{% endif %}
		</a>
	{% if display_buy_btn == 'yes' %}</div>{% endif %}
	{# Only add the "panel" class if we're on a grid #}
	<div class="panel content">
		{# The title of the download #}
		<a title="{{ __( 'View', 'maera_edd' ) }} {{ post.title }}" href="{{ post.link }}"><h5 class="title clearfix">{{ post.title }}</h5></a>
		{# Excerpt and Content #}
		{% if display_excerpt == 'yes' %}
			{{ post.get_preview(20|apply_filters(excerpt_length)) }}
		{% elseif display_full == 'yes' %}
			{{ post.content }}
		{% endif %}
	</div>
</div>
