{#<?php#}
<article {{ function( 'post_class' ) }} id="tease-{{ post.ID }}" itemscope itemtype="http://schema.org/Product">

	{% block content %}

		{{ post.top }}

		{% include 'parts/tease-title.twig' %}

		<div class="entry-summary" itemprop="description">
			{{ post.teaser }}
			{{ shell.clearfix }}
		</div>

		<footer class="entry-footer">
			<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<span itemprop="priceCurrency" content="{{ function( 'edd_get_currency' ) }}"></span>
			<span itemprop="price" content="{{ function( 'maera_get_edd_price', post.ID ) }}">
 				{% if post._variable_pricing %}
 					{{ function( 'edd_price_range', post.ID ) }}
				{% else %}
					{{ function( 'edd_price', post.ID ) }}
				{% endif %}
			</span>
		  </div>
		</footer>

	{% endblock %}
</article>